@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif !important;
}
body {
    margin: 0 !important;
}
.hidden-block {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show-block {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
